extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Winnie Kelley

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | Enthusiastic, experienced, creative, curious, adaptable, entrepreneurial, and tri-lingual (English, Mandarin and Cantonese) computer maven.
            | Ability to do animation, video editing, design work, web design and full stack development. 
            | Thrives in a creative and forward thinking working environment.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li HTML
          li CSS
          li JavaScript
          li Java 
          li Perl
          li Python
          li Animation
          li Motion Graphics
          li Creativity
        h6 alldayallnight642@icloud.com

        ul
          li 555-555-5555
          li alldayallnight642@icloud.com

        a.button.expanded(href='') LinkedIn Coming soon
        a.button.expanded(href='https://github.com/winnieKelley642?tab=repositories') GitHub Repositories 
        a.button.expanded(href='https://winniekelley642.github.io/') Live github page
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back